<nav>
    <a class="nav-toggle mobile-only" id="open-nav" href="#">&#9776;</a>
    <ul>
        {% for link in site.data.navigation.links %}
        {% assign class = "" %}
        {% if link.highlight %}
        {% assign class = class | append: " highlight" %}
        {% endif %}

        {% if link.link contains page.url %}
        {% assign class = class | append: " active" %}
        {% endif %}

        {% if link.name == "Contact" %}
        <li>
            <a class="{{ class }}" id="open-nav" href="#">Contact</a>
            <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/contact-asbest">Asbestattest</a></li>
                <li><a href="{{ site.baseurl }}/contact-schatting">Schatting</a></li>
            </ul>
        </li>
        {% else %}
        <li><a href="{{ site.baseurl }}{{ link.link }}" class="{{ class }}" {% if link.new_window %}target="_blank" {%
                endif %}>{{ link.name }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    <style>
        .dropdown-menu {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-menu li {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        li:hover .dropdown-menu {
            display: block;
        }
    </style>
</nav>