<!doctype html>

<html lang="nl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="googlebot" content="notranslate">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NX6CC0L12P"></script>
    <script src="https://www.google.com/recaptcha/api.js?hl=nl" async defer></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-NX6CC0L12P');
    </script>

    {% seo %}
    {% feed_meta %}

    <link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">

    <link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/touch-icon.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <div class="container">
            <a href="{{ site.baseurl }}/"><img class="logo" src="{{ site.baseurl }}/images/logo.svg" alt="logo"></a>
            {% include navigation.html %}
        </div>
    </header>
    {{ content }}

    <footer>
        <div class="container halves">
            <div style="display: flex; justify-content: left; align-items: left;">
                <p><a href="mailto:{{ site.data.company.contact_email_address }}">{{
                        site.data.company.contact_email_address
                        }}
                        <p><a href="tel:{{ site.data.company.phone }}">+32 474 48 81 72</a></p>
                    </a></p>
                <p>BE 0600 912 030</p>
            </div>
            <div style="display: flex; justify-content: right; align-items: right;">
                <img src="{{ site.baseurl }}/images/watermark.svg" width="200px">
            </div>
        </div>

        <div class="legal-line">
            <p class="container">
                &copy; {{ site.time | date: '%Y' }} {{ site.data.company.title }}
            </p>
        </div>
    </footer>
    <script>
        document.getElementById("open-nav").onclick = function () {
            document.body.classList.toggle("nav-open");
            return false;
        };
    </script>
</body>

</html>